.commentsForm {
  margin: auto;
  width: 750px;
  max-width: calc(100vw - 50px);
  margin-top: 40px;
  padding: 30px;
  padding-top: 10px;
  background-color: rgba(136, 136, 136, 0.076);
}

.commentsForm__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.commentsForm textarea {
  background: white !important;
  font-size: 14px;
  font-family: inherit;
  color: #4b4b4b;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.45);
  width: 90%;
  height: 125px;
  outline: none;
  padding: 10px;
  margin: 0;
  border: 1px solid rgba(136, 136, 136, 0.419);
}

.commentsForm__additionalData {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.commentsForm__additionalData input {
  width: 90%;
  border: 1px solid rgba(136, 136, 136, 0.419);
  margin-top: 10px;
  padding: 10px;
  outline: none;
}

.shareButton {
  font-weight: 600 !important;
  height: 40px;
  margin-top: 15px !important;
  color: #2f3640 !important;
}
