.app::-webkit-scrollbar {
  display: none;
}

.app {
  background-color: #2f3640;
  color: white;
  height: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  transition: ease-in-out 1000ms;
}

.appScrolled {
  background-color: #eef0f1;
  color: #2f3640;
  height: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  transition: ease-in-out 1000ms;
}

.main h1 {
  text-align: center;
  margin-top: 10px;
}
.recentHeader {
  text-align: start;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid rgba(196, 195, 195, 0.289);
  margin-left: 10%;
  margin-right: 10%;
}

.recentHeader span {
  padding-bottom: 20px;
  border-bottom: 2px solid #2f3640;
}

.app .recentHeader span {
  border-bottom: 2px solid white;
}
.feed {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-right: 40px;
  padding-left: 40px;
}

.app .post {
  background-color: #242930;
  border: none;
}
.post {
  margin: 25px;
  width: 20%;
  min-width: 350px;
  height: 500px;
  cursor: pointer;
  text-align: center;
  max-width: calc(100vw - 50px);
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: ease-in-out 400ms;
}
.mainImage {
  width: 100%;
  transition: 0.2s;
  border-radius: 5px;
  max-width: calc(100vw - 50px);
  object-fit: contain;
}

.fragment {
  color: #888;
  font-size: 0.9rem;
  line-height: 1.5;
  font-weight: 400;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.categories {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.category {
  background-color: #2f3640;
  color: white;
  font-weight: 600;
  padding: 5px;
  width: 80px;
  border-radius: 5px;
  transition: ease-in-out 400ms;
  margin-left: 10px;
  margin-right: 10px;
}

.category:hover {
  color: #2f3640 !important;
  background-color: white;
}

.bioFooter {
  display: flex;
  padding: 20px;
  text-align: justify;
}

.authorAvatar {
  flex: 0.3;
  display: grid;
  place-items: center;
}

.bioFooter__right {
  flex: 0.7;
}

.bioFooter__right > p {
  margin-top: 0;
  margin-bottom: 3px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  font-weight: 500;
}

.bioFooter__rightDate {
  display: flex;
}

.bioFooter__rightDate > p {
  margin-top: 0;
  margin-bottom: 3px;
  color: #888;
  font-size: 13px;
  font-weight: 500;
}

.bioFooter__rightDate > h3 {
  margin-top: 0;
  margin-bottom: 3px;
  color: #888;
  font-size: 13px;
  margin-left: 10px;
  font-weight: 500;
}

.buttons {
  position: fixed;
  top: 50%;
  right: 10%;
}

.buttons div {
  width: 40px;
  height: 40px;
  cursor: pointer;
  padding: 20%;
  border-radius: 100%;
  background-color: #2f3640;
  margin-bottom: 7px;
  color: white !important;
  transition: ease-in-out 400ms;
}

.buttons div:hover {
  color: #2f3640 !important;
  background-color: white;
}

.sectionHeaderContainer {
  color: rgb(255, 255, 255) !important;
  background-image: url(/images/space.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 70px;
  height: 430px;
  display: grid;
  place-items: center;
}

.logoImage {
  width: 50%;
}

.fadeBottom {
  margin-top: -40px;
  height: 40px;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.823)
  );
}

.footer {
  width: 100%;
  background-color: white;
  height: 100px;
  color: #7b7b7b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
  margin-top: 0;
}

.footer p {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.44);
  font-weight: 550;
  margin-bottom: 3px;
  margin-top: 3px;
  text-align: center;
}
